@import "styles/colors.css";

@import "styles/distro.css";
@import "styles/modules.css";
@import "styles/window.css";
@import "styles/workspaces.css";

/* Defaults */
* {
	font-family: "FiraCode Nerd Font";
	font-size: 15px;
	margin: 2px;
	padding: 0px;
}

/* Main Bar */
window#waybar {
    background: @bar_bg;
    color: @text_color;
}
