/* Audio output */
#pulseaudio.output {
    color: @text_color;
    padding-right: 2px;
}

#pulseaudio.output.muted {
    color: @text_muted;
}

/* Audio input */
#pulseaudio.input {
    color: @text_color;
}

#pulseaudio.input.source-muted {
    color: @text_muted;
    padding-right: 2px;
}
