#battery {
    padding-right: 1px;
    color: @text_color;
}

#battery.warning {
    color: @warning;
}

#battery.critical {
    color: @urgent;
    animation: battery-critical 1s infinite;
}

@keyframes battery-critical {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
