#workspaces button {
    color: @text_muted;
}

#workspaces button.active {
    color: @text_color;
}

#workspaces button:hover {
    background: @bar_bg; 
    border-color: @bar_bg;
    box-shadow: none;
    text-shadow: none;
}

#workspaces button.urgent {
    animation: urgent-blink 1s infinite;
}

@keyframes urgent-blink {
    0% {
        color: @urgent;
    }

    50% {
        color: transparent;
    }

    100% {
        color: @urgent;
    }
}
