#workspaces button {
    color: @ws_inactive;
}

#workspaces button.active {
    color: @text_color;
}

#workspaces button:hover {
    background: @bar_bg; 
    border-color: @bar_bg;
    box-shadow: none;
    text-shadow: none;
}
